{% extends 'base.html' %}

        {% block title %}
            <title>Auto Tweet Liker</title>
        {% endblock %}

        {% block content %}
        <header>
            <nav class="no-pad">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo left" style="margin-left: 10vw">Logo</a>
                    <div style="margin-right: 15vw; position: relative">
                        <ul id="nav-mobile" class="right">
                            <li><a href="{% url 'index' %}" class="nav-links">Home</a></li>
                            <li><a href="#" class="nav-links">Getting started</a></li>
                            <li><a href="#" class="nav-links">Features</a></li>
                            <li><a href="#" class="nav-links">Login & Signup</a></li>
                            <li style="margin-left: 25vw"><a href="#"><i class = "material-icons tiny">search</i></a></li>
                            <li><a href="#"><i class = "material-icons tiny">account_circle</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <body>
                <form action="like" method="post" style="margin-top: 40vh; margin-left: 20vw; margin-right: 20vw;">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Keyword to search the tweets"><br>
                    <input type="submit" class = "waves-effect waves-light btn-large" style="margin-left: 45%;">
                </form>
            </body>
        </header>
        {% endblock %}